<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "de.rosskara.ligamanager"
        version   = "1.0.0">

    <name>Hobbyliga Borken</name>

    <description>
		Liest information der Hobbyliga Borken
    </description>

    <author href="http://www.liga-borken.de" email="manfred.rosskamp@gmx.de">
        Manfred Roßkamp
    </author>
</widget>